1. Create functions to do the following: max, min, average, standard deviation, and geometric average.

2. Create a function that asks the user which shape they would like to analyze. It should then call other functions based on this and return the area of the shape.  The triangle function should take in the base and height, the circle function should take in the radius, and the square function should take in the side length.

3. Create a function that takes in a list and returns the list doubled. It should ask the user for option one or two. If the user chooses option one it should return the list doubled such as [1 2 3] becoming [1 2 3 1 2 3], if the user chooses option two then is should return the list such as [1 2 3] becoming [2 4 6].

4. Create a function that takes in two lists and concatenates the numbers in those lists. For instance, if we have [1 2 3] and [7 8 9], we should return [17 28 39].

5. Create a function that returns a list of primes up until the number passed in. So if 100 is passed in, it should return all the primes up until 100.

6. Write a function calculation() such that it can accept two variables and calculate the multiplication and divison of it. And also it must return both results in a single return call

7. If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.Find the sum of all the multiples of 3 or 5 below 1000.

8. Find the sum of the even valued Fibonacci numbers below 500.

9. Extra Credit: https://projecteuler.net/problem=30

In [ ]:
10 .Extra Credit: choose another project euler problem of your liking and solve it